@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fruktur&family=Mochiy+Pop+P+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald');
@import url('https://fonts.googleapis.com/css2?family=Mulish&family=Poppins&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");
@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');

:root
{
    --primary-cor:#409C32;
    --secondary-cor:#265C1D;
    --three-cor:#59DB46;
    --four-cor:#5FE84A;
    --five-cor:#50C23E;
    --gold-cor:#FFC857;
    --charcoal-cor:#2E4052;
    --purple-cor:#412234;
    --green-cor:#BDD9BF;
}
*{
    box-sizing: border-box;
}

body
{
    background-color: var(--charcoal-cor);
    font-family: 'Poppins',sans-serif;
    display: flex;          /*coloca tudo em linha*/
    /*flex-direction: column; /*coloca tudo em coluna*/
    align-items: center;    /*alinha horizontalmente*/
    justify-content: center;/*alinha tudo verticalmente com uso de height:100vh*/
    height: 100vh;
    overflow: hidden; /*BARRA DE SCROLL DOWN, HIDDEN ESCONDIDA*/
    margin: 0;
    overflow-x: hidden; /*REMOVER BARRA DE SCROLL HORIZONTAL*/
}

.main {
    background-color: #fff;
    border: 3px #000 solid;
    border-radius: 10px;
    padding: 30px;
    max-width: 1000px;
    text-align: center;
}

.codigo {
    display:flex;
    align-items:center;
    justify-content: center;
    margin: 40px 40px;
}

.cod{
    border-radius: 5px;
    font-size: 75px;
    height: 120px;
    width: 100px;
    border: 1px solid #eee;
    margin: 1%;
    text-align: center;
    font-weight: 300;
    -moz-appearance: textfield;
    
}
.cod:focus{
    border: 5px solid var(--purple-cor);
}

.cod::-webkit-outer-spin-button,
.cod::-webkit-inner-spin-button{/*PARA TIRAR AS SETAS DO INPUT NUMBER*/
    -webkit-appearance: none;
    margin: 0;
}
.cod:valid{
    /* border-color: var(--five-cor); */
    box-shadow: 0 10px 5px rgba(56, 151, 18, 0.25);
    border:5px solid var(--five-cor);
}

.info {
    background-color: #eaeaea;
    display: inline-block;
    padding: 10px;
    line-height: 20px;
    max-width: 400px;
    color: #777;
    border-radius: 5px;
}



/*///////////////MEDIA QUERYS////////////////////////////////////////////////////////////////////*/

@media(max-width: 480px)        /*para ecras mais pequenos*/
{
    body{
        overflow:visible;
    }

    footer 
    {
        display: none;
    };

}

@media (max-width: 800px)
{
    body{
        overflow:visible;
    }
    footer 
    {
        /* display: none; */
    };
  

}

@media (max-width : 600px)
{
 .codigo{
     flex-wrap: wrap;
 }   

 .cod{
     font-size: 60px;
     height: 80px;
     max-width: 70px;
 }
}


/*estilos do footer */

footer{
    font-size: 0.8rem;
    color: #fff;
    font-family:'Inconsolata',sans-serif ;
    text-align: center;
    /* border: 1px solid var(--charcoal-cor); */
    position: absolute;
     bottom: 0rem; 
     left: 50%; 
    transform: translate(-50%, -50%);
    font-weight: 500;
    padding: 0rem 0.9rem;
}

footer:hover{
    background-color: #333;
    color: #fff;
    border-radius: 20px;
    transform: translate(-50%,-50%) scale(1.2);
}
footer:hover a{
    color: yellow;
    font-weight: 700;
}
footer:hover a:hover{
    font-weight: 900;
    color:greenyellow;
}

footer a{
   color: #fff;  /*cor dos links a preto*/
   text-decoration: none;     /*retira o sublinhado dos links*/
  
}

footer a:hover{
    color: var(--gold-cor);
}




